@model SchoolProject.Models.Teacher

@{
    ViewData["Title"] = "Create";
}

<div class="container mt-5">
    <h1 class="display-4">Create Teacher</h1>

@*<hr />*@

    <form asp-action="Create" class="mt-4">
        <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
            <div class="form-group">
            <label asp-for="TeacherName" class="font-weight-bold">Teacher Name</label>
            <input asp-for="TeacherName" class="form-control" placeholder="Enter teacher name" />
                <span asp-validation-for="TeacherName" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
            <label asp-for="TeacherAge" class="font-weight-bold">Teacher Age</label>
            <input asp-for="TeacherAge" class="form-control" placeholder="Enter teacher age" />
                <span asp-validation-for="TeacherAge" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    
        <p></p>

    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
